<div class="container mt-4">
  <h3 class="mb-3">Members</h3>

  @if (loading) {
    <div class="text-center">
      <div class="spinner-border"></div>
    </div>
  }

  @if (!loading) {
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
            <th>#</th>
          <th>memberId</th>
          <th>amount</th>
          <th>Email</th>
          <th>paymentMethod</th>
          <th>paymentDate</th>
          <th>screenshot</th>
          <th>status</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (m of payments; track m; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ m.memberId }}</td>
            <td>{{ m.amount }}</td>
            <td>{{ m.email }}</td>
            <td>{{ m.paymentMethod }}</td>
            <td>{{ m.paymentDate }}</td>
            <td>
            <a
           [href]="'http://localhost:8080/gym-uploads/' + m.screenshot"
           target="_blank">
              View Screenshot
            </a>
            </td>
            <td>{{ m.status }}</td>
           <td>
  <button
    class="btn btn-sm btn-primary me-2"
    (click)="approve(m)">
    Approve
  </button>

  <button
    class="btn btn-sm btn-danger"
    (click)="reject(m.id)">
    Reject
  </button>
</td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (payments.length === 0 && !loading) {
    <div class="alert alert-info">
      No members found
    </div>
  }
</div>
<!-- EDIT MODAL -->

@if(showEditModal){

<div class="custom-modal">

  <div class="modal-content-custom">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>Edit Member</h4>

      <button
        class="btn-close"
        (click)="closeModal()"
      ></button>
    </div>

    <form (ngSubmit)="updatePaymentStatus()">

      <div class="mb-3">
        <label>MemberId</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.memberId"
          name="memberId"
        />
      </div>

      <div class="mb-3">
        <label>Email</label>

        <input
          type="email"
          class="form-control"
          [(ngModel)]="selectedPayment.email"
          name="email"
        />
      </div>

      <div class="mb-3">
        <label>Phone</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.phone"
          name="phone"
        />
      </div>
      <div class="mb-3">
        <label>Phone</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.paymentMethod"
          name="phone"
        />
      </div>
      <div class="mb-3">
        <label>Phone</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.paymentDate"
          name="paymentDate"
        />
      </div>
      <div class="mb-3">
        <label>utrNumber</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.utrNumber"
          name="utrNumber"
        />
      </div>
      <div class="mb-3">
        <label>screenshot</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.screenshot"
          name="screenshot"
        />
      </div>
      <div class="mb-3">
        <label>status</label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="selectedPayment.status"
          name="status"
        />
      </div>
      

    

      <button
        type="submit"
        class="btn btn-success w-100"
      >
        Update Payment
      </button>

    </form>

  </div>

</div>

}

@if(showDeleteModal){

<div class="custom-modal">

  <div class="modal-content-custom text-center">

    <h4 class="mb-3">
      Delete Member?
    </h4>

    <p>
      Are you sure you want to delete this member?
    </p>

    <div class="d-flex gap-3 justify-content-center mt-4">

      <button
        class="btn btn-secondary"
        (click)="closeDeleteModal()"
      >
        Cancel
      </button>

      <button
        class="btn btn-danger"
        (click)="deleteMember()"
      >
        Delete
      </button>

    </div>

  </div>

</div>

}