<div class="container mt-4">
  <h3 class="mb-3">Class Booking List</h3>

  @if (loading) {
    <div class="text-center">
      <div class="spinner-border"></div>
    </div>
  }

  @if (!loading) {
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
            <th>#</th>
          <th>classId</th>
          <th>className</th>
          <th>userId</th>
          <th>userName</th>
         <th>phoneNo</th>
          <th>status</th>
           <th>User Email</th>
         
        </tr>
      </thead>
      <tbody>
        @for (m of bookingList; track m; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ m.classId }}</td>
            <td>{{ m.className }}</td>
            <td>{{ m.userId }}</td>
            <td>{{ m.userName }}</td>
            <td>{{ m.phoneNo }}</td>
            <td>{{ m.status }}</td>
           <td>{{ m.userEmail }}</td>
           
          </tr>
         }
      </tbody>
    </table>
  }
  </div>


