<div class="container mt-4">
  <h3>Gym Classes</h3>

  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let c of classes">
      <div class="card shadow">
        <div class="card-body">
          <h5>{{ c.name }}</h5>
          <p>Trainer: {{ c.trainer }}</p>
          <p>Schedule: {{ c.schedule }}</p>

          <button class="btn btn-success w-100"
                  *ngIf="paidUser"
                  (click)="book(c.id)">
            Book Class
          </button>

          <button class="btn btn-secondary w-100"
                  *ngIf="!paidUser"
                  disabled  onclick="makePayment()">
            Payment Required
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
